li {
    list-style: none; 
    font-size: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

a {
    text-decoration: none;
    color: black;
}

/*BODY*/
body{
    font-family: "Raleway", sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}
/*HEADER*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
}

main{
    padding-left: 30px;
    padding-right: 30px;
}

.exclamation {
    text-align: center;
    width: 20px;
    height: 20px;
    color: #0065fc;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
  }
  .display_mobile {
    visibility: hidden;
    display: none;
  }
  
  .display_desktop {
    display: block;
    visibility: visible;
    cursor: pointer;
  }
  
  .background_gris {
    background: #f2f2f2;
  }
  
  .margin_left_and_right {
    margin-left: 20px;
    margin-right: 20px;
  }

.carte_text_400 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: black;
}

.padding_bottom {
    padding-top: 30px;
    padding-bottom: 40px;
}

.flex{
  display: flex;
}

.align-items {
  align-items: center;
}

.active{
  color: #0065fc;
  display: flex;
}

.inactive{
  color: #f2f2f2;
}

/*HEADER+NAV*/

nav{
  padding-right: 10px;
  margin: 0;
  text-align: left;
}

ul{
  display: unset;
}



nav li{
  display: inline;
  padding: 15px 20px 15px 20 px;
  border-top: 2px solid transparent;
}

nav li:hover{
  border-top: 2px solid #0065fc;
}

nav a{
  display: inline-block;
  margin: 0;
}

nav a:hover{
  color: #0065fc;
}


.logo_booki{
  width: 60px;
  margin-left: 10px;
  padding-top: 20px;
}

main_h1{
  margin-left: 10px;
  margin-right: 40px;
}

main_p{
  display: flex;
  margin-left: 10px;
  margin-right: 40px;
}

/*FORMULAIRE*/

form{
  display: flex;
  margin-left: 10px;
}

form input{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  border: 1px solid #f2f2f2;
}

form button{
  width: 132px;
  height: 49px;
  background-color: #0065fc;
  color:#ffffff;
  border-radius: 0 20px 20px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  border: 1px solid #f2f2f2;
}

.maps{
  padding: 14px;
  width: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  background-color: #f2f2f2;
}

/*FILTRES*/

.filtre{
  display: flex;
  width: 950px;
  justify-content: space-around;
  align-items: center;
}

.filtre button {
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  border: solid 2px #f2f2f2;
  padding: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin-right: 30px;
  margin-left: 20px;
}

.filtre button:hover {
  cursor: pointer;
  background-color: #DEEBFF;
}

.filtre i {
  margin-right: 10px;
  color: #0065fc;
}

/*HEBERGEMENT ET POPULAIRE*/

#herbergement_et_populaire {
  display: flex;
}

/*BLOCK HEBERGEMENT*/

.hebergement_h2{
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.section_hebergement{
  border-radius: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

.hebergement_block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 10px;
  padding-top: 20px;
}

.hebergement_block a{
  width: 30%;
  max-width: 240px;
}

.hebergement_carte{
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
}

.hebergement_carte:hover{
  cursor: pointer;
}

.hebergement_description{
  padding-left: 10px;
  padding-bottom: 5px;
}

.hebergement_carte img{
  width: 100%;
  max-width: 246px;
  object-fit: cover;
  height: 124px;
  border-radius: 20px 20px 0px 0px;
}

/*BLOCK POPULAIRE*/

article{
  border-radius: 20px;
}

.populaire_div_h2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.populaire_block{
  display: flex;
  flex-direction: column;
}

.populaire_carte{
  height: 154px;
  margin-top: 20px;
  padding: 5px;
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
}

.populaire_carte:hover{
  cursor: pointer;
}

.populaire_carte h2{
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 10px;
}

.populaire_carte p{
  margin-bottom: 0;
  margin-top: 0;
}

.populaire_image{
  width: 40%;
  min-width: 137px;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}

.populaire_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}

.populaire_details{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 10px;
}

/*BLOCK ACTIVITE*/

.activite_block{
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.activite_carte{
  display: block;
  border-radius: 0px 0px 20px 20px;
  background: #ffffff;
  padding-left: 20px;
  box-shadow: 5px 5px 5px #f2f2f2;
  max-width: 300px;
  width: 25%;
}

.activite_carte p{
  margin-left: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.activite_carte img{
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 440px;
}

/*FOOTER*/

footer{
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 200px;
}

footer div{
  display: flex;
  flex-direction: column;
}

footer ul{
  padding: 0;
}

footer h2{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

/*RESPONSIVE TABLETTES*/

@media only screen and (max-width: 768px) {
  
  .carte_text_700{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .carte_text_400{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
  }

  .display_mobile{
    visibility: hidden;
  }

  .display_desktop{
    display: block;
    visibility: visible;
  }
  .active{
    padding-bottom: 10px;
  }

  /*BODY*/

  body{
    width: auto;
    max-width: 991px;
    margin: 0 auto;
  }
  main span{
    margin-left: 20px;
  }

  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
  }

  main{
    padding-left: 0;
    padding-right: 0;
  }
  /*HEADER*/

  .logo_booki{
    margin-left: 20px;
  }
  #nav{
    margin-right: 20px;
  }
  /*MAIN*/

  .main_h1{
    margin-left: 20px;
  }

  .main_p{
    margin-left: 20px;
  }

  /*FORMULAIRE*/
  form{
    margin-left: 20px;
    margin-bottom: 10px;
  }

  form button{
    width: auto;
  }

  form span{
    margin-left: 0;
  }

  /*BLOCK FILTRE*/

  .filtre{
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .filtre h2{
    margin-right: 30px;
    margin-left: 20px;
  }

  .filtre button{
    margin-right: 5px;
    margin-left: 0;
  }

  /*HEBERGEMENT*/

  #herbergement_et_populaire{
    display: flex;
    flex-direction: column;
  }

  .section_hebergement{
    border-radius: 20px;
    padding: 5px;
    margin-left: 0px;
  }

  #hebergement{
    margin-left: 10px;
    margin-right: 10px;
  }

  .hebergement_block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .hebergement_block a{
    max-width: 246px;
    width: 35%;
  }

  .hebergement_carte img{
    width: 100%;
  }

  /*POPULAIRE*/

  #populaire{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
  }

  .populaire_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }

  .populaire_block a{
    padding: 5px;
    width: 35%;
  }

  .populaire_carte{
    width: 100%;
    height: 100%;
  }

  .populaire_carte img{
    width: 106px;
  }

  /*ACTIVITES*/

  .activite_carte{
    width: 182px;
    height: 267px;
  }

  .activite_carte img{
    width: 182px;
    height: 267px;
  }

  #activite{
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

/*RESPONSIVE TOUS TELEPHONES*/

@media only screen and (max-width: 768px) {

.carte_text_700 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .carte_text_400 {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
  }

  .display_mobile {
    display: block;
    visibility: visible;
  }

  .display_desktop {
    display: none;
    visibility: hidden;
  }

  /*BODY*/
  body {
    width: auto;
    max-width: 767px;
    margin: 0 auto;
  }


  main {
    padding-left: 0;
    padding-right: 0;
  }

  main span {
    margin-left: 20px;
  }
  /*HEADER*/

  header {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
  }

  nav {
    width: 100%;
  }

  nav ul {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  nav li {
    width: 50%;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  nav li:hover {
    border-top: 2px solid transparent;
    border-bottom: 2px solid #0065fc;
  }

  .logo_booki {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  /*CLASS MAIN*/

  .main_h1 {
    margin-left: 20px;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }

  .main_p {
    margin-left: 20px;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  /*FORMULAIRE*/

  form {
    margin-left: 20px;
  }
  form input {
    width: 60%;
  }
  form button {
    width: 50px;
  }

  /*CHAMP FILTRE ET BTN*/

  .filtre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .filtre h2 {
    margin-left: 20px;
  }

  .filtre button {
    width: 45%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    display: flex;
  }

  .btn_smartphone {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .icon {
    width: 21px;
    height: 20px;
  }

  /*POPULAIRE*/
  aside {
    border-radius: 20px;
    padding: 0px;
  }
  #populaire {
    background-color: #f2f2f2;
    margin: 0;
    border-radius: 0;
  }

  .populaire_block {
    display: flex;
    flex-direction: column;
  }
  .populaire_block a {
    width: 100%;
    height: 144px;
  }

  .populaire_carte {
    max-width: 767px;
    width: 100%;
  }

  .populaire_image img {
    width: 100%;
    object-fit: cover;
  }

  .populaire_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85px;
  }

  /*HEBERGEMENT*/

  #herbergement_et_populaire {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  #hebergement {
    margin-right: 0;
    margin-left: 0;
  }

  .hebergement_h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-left: 20px;
  }

  .section_hebergement {
    background-color: #ffffff;
    border-radius: 0;
    padding: 0;
  }

  .hebergement_block {
    display: flex;
    flex-direction: column;
  }

  .hebergement_block a {
    max-width: 767px;
    width: 100%;
  }

  .hebergement_carte {
    max-width: 767px;
    width: 100%;
  }

  .hebergement_carte:hover {
    cursor: pointer;
  }

  .inactive {
    color: #f2f2f2;
  }

  .hebergement_carte img {
    width: 100%;
    max-width: 767px;
    object-fit: cover;
  }
  .hebergement_description {
    padding-left: 10px;
  }

  /*ACTIVITES*/
  #activite {
    margin-top: 40px;
  }

  .activite_block {
    display: flex;
    flex-direction: column;
  }

  .activite_carte {
    padding-left: 0px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 100%;
    box-shadow: 5px 5px 5px #f2f2f2;
  }

  .activite_carte img {
    width: 100%;
    object-fit: cover;
    height: 70%;
    border-radius: 20px 20px 0px 0px;
  }

  /*FOOTER*/

  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  footer div {
    margin-left: 30px;
    padding: 10px;
  }

  footer ul {
    display: flex;
    flex-direction: column;
  }

  footer li {
    display: flex;
    flex-direction: column;
  }
}


  

  